version: '3.8'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - MONGO_URL=mongodb://mongo:27017/
      - MONGO_DB_NAME=${MONGO_DB_NAME}
      - COLLECTION_NAME=${COLLECTION_NAME}

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
